body{
    /* background-color: #E1ECF0; */
    background-color: #B2FFFF;
    margin-left: 5%;
}
/* navbar */
#logo{
    font-size: 250%;
    font-weight: 300;
    color: #6c9adf;
    font-family: 'Abril Fatface', serif;

    float: left; 
    margin-left: 25px;
    
    letter-spacing: 0.5px;
    word-spacing: 10px;
    line-height: 75px;
}
header{
    padding-bottom: 20px;
}
#nav-bar > li{
    font-size: 125%;
    font-weight: 100;
    list-style-type: none;
    margin-right: 25px;
}

#nav-bar{
    display: flex;
    float: right;
    margin-top: 25px;
}

#nav-bar a{
    text-decoration: none; 
    color: #2E3033; 
    font-family: "Montserrat", "sans serif";
}

.btn {
    font-family: "Montserrat", "sans serif";
    font-size: 100%;
    line-height: 1;
}

/* footer */
footer{
    height: 200px;
    margin-top: 2%;
}

#links{
    text-align: center;
}

#links > li{
    display: inline;
}

#links i{
    color: #6c9adf;
    font-size: 200%;
    padding: 50px;
}

/* edit, delete register, login forms */
form{
    width: 60%;
    margin-left: 20%;
}

.delete-form{
    margin-left: 10%;
    padding-bottom: 100px;
}
.page-function{
    margin-left: 40%;
    padding-bottom: 3%;
}

/* posts index.html */

.col-md-auto{
    padding-bottom: 5%;
}

.card-title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.card-body {
    text-align: center;
}
.author{
    text-align: center;
}

.blog-title{
    font-family: 'Oswald', sans-serif;
}
.body{
    padding: 0 5%;
    font-size: 20px;
}
/* all buttons */
.btn-default{
    border: 1px solid black;
}
.btn-default:hover{
    border: 1px solid white;
    color: white;
    background-color: black;
}
/* individual post in post-detail.html */
.container{
    background-color: white;
}
.title-container{
    padding-left: 5%;
    padding-top: 5%;
}

.like-btn{
    border: none;
    background: transparent;
    padding-right: 10px;
}

.like-btn i {
    padding-right: 5px;
    font-size: 150%;
}

.like-form{
    margin-left: 5%;
}
.btn-back{
    margin-left: 5%;
}


.comment-container{
    margin-left: 5%;
    border: solid black 1px;
    padding: 5%;
    border-radius: 10px;
    width: 80%;
}

/* difficulty buttons in index.html */

.easy{
    color: green;
}

.medium{
    color: yellow;
}

.hard{
    color: red;
}