{% extends "base.html" %}

{% block content %}
<h3 class="page-function">Delete -"{{ post.title }}"</h3>
</br>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <div class="form-group delete-form">
        <form method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete this post? 
                This action is irreversable.</p>
            <button class="btn btn-default">Delete Post</button>
        </form>
    </div>
    {% endif %}
{% else %}
you are not allowed to make posts yet, you need to register/login.
{% endif %}


{% endblock %}