{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{ post.title }}</h5><p class="author"> By {{ post.author }}</p>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a href="{% url 'post-details' post.pk %}" class="btn btn-primary">read more</a>
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <a href="{% url 'update-post' post.pk %}" class="btn btn-success">Edit</a>
                        <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    {% endif %}
                    <hr>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>
{% endblock %}