{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-auto">
            <div class="card" style="width: 18rem;">
                <img class="post-image" src="{{ post.image.url }}" alt="Card image ">

                <div class="card-body">
                    <h5 class="card-title"> {{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a href="{% url 'post-details' post.pk %}" class="btn btn-default">read more</a>
                    <hr>
                    <small class="author"> By {{ post.author }}</small>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>
{% endblock %}