{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-auto">
            <div class="card" style="width: 18rem;">
                <!-- {% if "placeholder" in post.image.url %}
                <img class="card-img-top"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/310px-Placeholder_view_vector.svg.png">
                {% else %}
                <img src="{{ post.image.url }}" class="post-image" alt="blog post image">
                {% endif %} -->
                {% if "placeholder" in post.image.url %}
                    <div class="card-image" style="background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/310px-Placeholder_view_vector.svg.png'); background-position: center; background-size: cover; height: 300px;" ></div>
                {% else %}
                    <div class="card-image " style="background: url('{{ post.image.url }}'); background-position: center; background-size: cover; height: 300px;"></div>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title"> {{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <a href="{% url 'post-details' post.pk %}" class="btn btn-default">read more</a>
                    <hr>
                    <small class="author"> By {{ post.author }}</small>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>
{% endblock %}