{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="title-container">
        <h1 class="blog-title">{{ post.title }}</h1>
        <small>By {{ post.author }}</small>
        <small>{{ post.date }}</small>
        </br>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <a href="{% url 'update-post' post.pk %}" class="btn btn-success">Edit</a>
            <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger">Delete</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="body">
        <p>
            {{post.body|safe}}
        </p>
    </div>
    
    <form action="{% url 'like_post' post.pk %}", method="POST" class="like-form">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="like-btn">
                <i class="fa-solid fa-heart"></i>{{ total_likes }}
            </button>
            {% else %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="like-btn">
                <i class="fa-regular fa-heart"></i>{{ total_likes }}
            </button> 
            {% endif %}
        {% else %}
        Login to like.
        {% endif %}
    </form>
    </br>
    <div class="comment-container">
        <h2>Comments...</h2>
        {% if not post.comments.all %}
        no comments yet...<a href="{% url 'add-comment' post.pk %}">add one</a>
        {% else %}
        <a href="{% url 'add-comment' post.pk %}">add comment</a>
            </br>
            {% for comment in post.comments.all %}
            <strong>
                {{ comment.name }}
                {{ comment.date }}
            </strong>
            </br>
                {{ comment.body }}
            </br></br>
            {% endfor %}
        {% endif %}
    </div>
    
    </br>
    <a href="{% url 'home' %}" class="btn btn-secondary">back</a>
</div>


{% endblock %}